:root {
  --main-color: rgba(255, 255, 255);
  --background: #242424;
  --particle-color: #ffeded;
  --brightness: 0.8;
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--main-color);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--main-color);
  text-decoration: none;
  position: relative;
}
a:hover {
  filter: brightness(80%);
}


a::before{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

#contact{
  text-align: right;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  height: 600vh;
  display: flex;
  flex-direction: column;
  align-items: end;
}

p{
  margin: 0;
}

section{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: end;
  padding-right: 6%;
  font-size: 6vmin;
  position: relative;
  z-index: 1;
}

#about{
  flex-direction: column;
  text-align: right;
  align-items: end;
  max-width: 800px;
  justify-content: center;
}

.about_info{
  margin: 0;
}

.about_heading{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.about_heading h2{
  font-size: 9vmin;
}

.about_heading img{
  width: 175px;
  height: 175px;
  border-radius: 100%;
  margin: 25px;
  border: var(--main-color) solid 5px;
}

#projects{
  flex-direction: column;
  align-items: end;
  text-align: right;
  max-width: 800px;
}

.featured_project{
  display: flex;
  justify-content: end;
}

.featured_project img{
  width: min(25vw, 300px);
  height: auto;
  object-fit: cover;
  /* border: solid 2px var(--main-color); */
  border-radius: 5px;
  margin-left: 5px;
}

.featured_project a{
  text-decoration: none;
}

.project_description{
  font-size: clamp(1rem, 2vw, 2rem);
  max-width: 60%;
}

.project_description h4{
  margin: 5px 0;
}

h3{
  margin: 5px 0;
  font-size: clamp(1.5rem, 3.5vw, 4rem);
  filter: brightness(var(--brightness));
}

#skills{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  max-width: 800px;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #skills {
    max-width: 300px;
  }
}

#skill_logos{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: inherit;
  flex-wrap: wrap;
}

#skill_logos img{
  max-width: 100px;
  height: 8vmin;
  width: 8vmin;
  stroke:none;
}

.logo{
  cursor:pointer;
  position: relative;
}


.modal{
  display:none;
  position: absolute;
  background: var(--main-color);
  color: var(--background);
  z-index: 100;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 7px;
  border-radius: 25%;
}

.modal.show{
  display:block;
}

canvas{
  position: fixed;
  z-index: 0;
}

li{
  list-style-type: none;
}

ul{
  margin-left: 0;
}

svg{
  stroke: var(--main-color);
  height: 5vmin;
  width: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: rgba(46, 46, 46, 0.87);
    --background: #ececec;
    --particle-color: #1f1f1f;
    --brightness: 1.2;
  }
}
