:root{
    --background: #242424;
    --main-color: rgba(255, 255, 255, 0.87);
    --card_background: #d1d1d1;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

h1{
    color: var(--main-color);
    text-align: center;
    font-size: 4vmax;
    margin: 0;
}

body{
    background-color: var(--background);
}

#cube_static{
    position: absolute;
    background-color: var(--background);
}

#cube_static:hover{
    opacity: 0;
}


.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: minmax(350px, 1fr);
    align-items: stretch;
    gap: 15px;
    margin-top: 50px;
}

.project{
    background-color: var(--card_background);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    font-size: max(2vmin, 20px);
    border: 4px solid rgb(80, 80, 80);
}

.home{
    width: 75px;
    height: 75px;
}

.project a{
    width: max(100%, 250px);
    height: max(75%, 200px);
}

.logo{
    float: right;
    height: 5vmin;
    width: auto;
    margin-right: 5px;
    margin-bottom: 5px;
}

.logo:hover{
    transform: scale(1.2);
    transition-duration: .3s;
}

.logo:not(:hover){
    transform: scale(1.0);
    transition-duration: .4s;
    transition-timing-function: ease-out;
}

.img-info{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

h2{
    margin: 4px;
    text-align: center;
}

p{
    margin: 3px;
}

img{
    object-fit: cover;
    /* max-width: 100%; */
    width: 100%;
    height: 100%
}

img:hover{
    filter: brightness(90%);
}